@import '../../common-styles/variable.scss';

.ContactSection_main {
    position: relative;
    background-color: $Light-Bg;
    padding: 130px 0;

    @media (max-width: 992px) {
        padding: 72px 0;
    }

    @media (max-width: 575px) {
        padding: 48px 0;
    }

    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 20%;
        height: 100%;
        background-color: $Primary;
    }

    .container {
        @media (max-width: 1200px) {
            padding: 0;
        }
    }

    .social_ul {
        display: flex;
        align-items: center;
        gap: 16px;
        position: absolute;
        right: 20px;
        bottom: 20px;
        z-index: 10;

        .social_linkk {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background-color: $White;
            border-radius: 4px;
            transition: .3s;
            box-shadow: $Box-Shadow-Custom;

            &:hover {
                background-color: $Dark;

                svg {
                    color: $White;
                }
            }

            svg {
                color: $Primary;
                transition: .3s;
            }
        }
    }

    .row_custom {
        position: relative;
        align-items: center;
        justify-content: space-between;
        gap: 72px 0;
        z-index: 5;

        .col_content_inr {
            .contact_heading {
                color: $Dark;
            }

            .contact_desc {
                color: $Dark-65;
                margin: 24px 0 40px 0;
            }

            .action_otr {
                display: flex;
            }
        }

        .col_form_inr {
            margin: 0;

            .input_otr {
                width: 100%;
                margin-bottom: 24px;

                input {
                    width: 100%;
                    appearance: none;
                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                input[type=number] {
                    -moz-appearance: textfield;
                }
            }

            .text_area {
                width: 100%;
                height: 110px;
                resize: none;
                margin-bottom: 24px;
            }

            .action {
                display: flex;
            }
        }
    }
}