/*=====================================
        Color Variable's
=====================================*/

$Primary: #7AAAF5;
$Primary-50: rgba(122, 170, 245, 0.50);
$White: #FFFFFF;
$Black: #000000;
$Dark2: #292935;
$Dark: #11111E;
$Dark-65: rgba(17, 17, 30, 0.65);
$Dark-40: rgba(17, 17, 30, 0.40);
$Dark-25: rgba(17, 17, 30, 0.25);
$Light-Bg: #f2f7fe;
$Light-Bg2: #d7e6fc;

/*=====================================
        Font Size Variable's
=====================================*/

$font-size-48px: 48px;
$font-size-40px: 40px;
$font-size-24px: 24px;
$font-size-20px: 20px;
$font-size-18px: 18px;
$font-size-16px: 16px;
$font-size-14px: 14px;
$font-size-12px: 12px;

/*=====================================
        Line Height Variable's
=====================================*/

$line-height-70px: 70px;
$line-height-60px: 60px;
$line-height-38px: 38px;
$line-height-34px: 34px;
$line-height-32px: 32px;
$line-height-30px: 30px;
$line-height-28px: 28px;
$line-height-26px: 26px;
$line-height-24px: 24px;
$line-height-20px: 20px;

/*=====================================
        Box Shadow Variable's
=====================================*/

$Box-Shadow-Custom: 0px 4px 25px rgba(0, 0, 0, 0.1);
$Box-Shadow-Custom2: 0px 15px 40px rgba(37, 31, 69, 0.1);

/*=====================================
        Font Family Variable's
=====================================*/

$font-family-Bold: "KronaOne-Regular";
$font-family-Medium: "DMSans-Medium";
$font-family-Regular: "DMSans-Regular";