@import '../../common-styles/variable.scss';

.PrivacyPolicy_main {
    .PrivacyPolicy_section {
        padding: 130px 0;

        @media (max-width: 992px) {
            padding: 72px 0;
        }

        @media (max-width: 575px) {
            padding: 48px 0;
        }

        .wrapper {
            .main_heading {
                color: $Dark;
                margin-bottom: 24px;
            }

            .desc1,
            .desc2,
            .desc4 {
                margin-bottom: 20px;
            }

            .desc {
                color: $Dark-65;
            }

            .heading {
                color: $Dark;
                margin: 16px 0;
            }
        }
    }
}