@import '../../common-styles/variable.scss';

.Accordion_item {
    border: none !important;
    border-radius: 6px;
    transition: .3s;

    &:not(:last-child) {
        margin-bottom: 24px;
    }

    &:hover {
        box-shadow: $Box-Shadow-Custom;

        .accordion-button {
            border: 1px solid transparent;
        }
    }

    .accordion-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: $font-size-16px;
        line-height: $line-height-28px;
        font-family: $font-family-Bold;
        padding: 10px 24px;
        border-radius: 6px;
        color: $Dark;
        transition: .3s;
        border: 1px solid $Light-Bg2;
        background-color: $Light-Bg;
        width: 100%;

        @media (max-width: 575px) {
            padding: 8px 16px;
            font-size: 16px;
            line-height: 28px;
        }

        svg {
            transition: .3s;
        }

        &:focus {
            box-shadow: none;
        }

        &::after {
            display: none;
        }

        &:not(.collapsed) {
            box-shadow: none;
            background-color: $Primary;
            color: $White;
            border-radius: 6px;

            svg {
                transform: rotate(180deg);
            }
        }
    }

    .accordion-body {
        border-left: 1px solid $Light-Bg2;
        border-right: 1px solid $Light-Bg2;
        border-bottom: 1px solid $Light-Bg2;
        padding: 16px 24px;
        font-size: $font-size-16px;
        line-height: $line-height-28px;
        font-family: $font-family-Medium;
        color: $Dark-65;
    }
}

.FaqSection_main {
    padding: 130px 0;

    @media (max-width: 992px) {
        padding: 72px 0;
    }

    @media (max-width: 575px) {
        padding: 48px 0;
    }

    .container {
        @media (max-width: 1200px) {
            padding: 0;
        }
    }

    .row_custom {
        justify-content: center;
    }
}