@import '../../common-styles/variable.scss';

.login_page {
    .login_section {
        padding: 130px 0;

        @media (max-width: 992px) {
            padding: 72px 0;
        }

        @media (max-width: 575px) {
            padding: 48px 0;
        }

        .row_custom {
            justify-content: center;

            .col_form_otr {
                @media (max-width: 575px) {
                    padding: 0;
                }
            }

            .col_form_inr {
                background-color: $White;
                box-shadow: $Box-Shadow-Custom;
                padding: 40px;

                @media (max-width: 575px) {
                    padding: 20px;
                }
            }

            .other_login {
                display: flex;
                align-items: center;
                gap: 24px;
                margin-bottom: 24px;

                @media (max-width: 1400px) {
                    flex-direction: column;
                }

                .login_button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 12px;
                    width: 50%;
                    padding: 10px 24px;
                    background-color: transparent;
                    border: 1px solid $Dark;
                    border-radius: 6px;
                    transition: .3s;

                    @media (max-width: 1400px) {
                        width: 100%;
                    }

                    @media (max-width: 575px) {
                        padding: 13px 16px;
                    }

                    &:hover {
                        background-color: $Dark;
                        border: 1px solid transparent;

                        svg {
                            color: $White;
                        }

                        .button_text {
                            color: $White;
                        }
                    }

                    svg {
                        color: $Dark;
                        transition: .3s;
                    }

                    .button_text {
                        color: $Dark;
                        transition: .3s;
                    }
                }
            }

            .input_form {
                width: 100%;
                margin-bottom: 24px;
            }

            .forget_otr {
                display: flex;
                align-items: center;
                justify-content: space-between;

                @media (max-width: 575px) {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 12px;
                }

                .check_box_inr {
                    padding: 0;
                    gap: 12px;
                    min-height: auto;
                }

                .forget_text {
                    color: $Dark;
                    transition: .3s;

                    &:hover {
                        color: $Primary;
                    }
                }
            }

            .form_btn {
                width: 100%;
                margin: 24px 0;
            }

            .signin_text {
                text-align: center;

                .text_linkk {
                    display: inline;
                    color: $Dark;
                    transition: .3s;

                    &:hover {
                        color: $Primary;
                    }
                }
            }
        }
    }
}